.upload-button{
    width: 30px;
    padding:0.5rem;
    background-color: rgb(232,240,254);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    font-size: x-small;
    color: rgb(92,147,223);
}



.upload-button img{
    width:20px ;
    height: 20px;
    color: rgb(92,147,223);
}